# requirements.txt

# Core Framework & Server
fastapi
uvicorn[standard]
python-multipart
pydantic-settings

# AI & Image Analysis
ultralytics
opencv-python
numpy

# Database & Location
sqlmodel
scipy

# Testing
pytest
httpx